In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.float_format', '{:.2f}'.format)
np.set_printoptions(formatter={'float_kind': "{:.2f}".format})
%config InlineBackend.figure_format = 'svg'

In [2]:
path = '/home/arthur/Project/GeekBrains/DB_research/!ADDS/hw_1/orders_20190822.csv'
df = pd.read_csv(path, sep=';')

# задание соответствующих форматов столбцам
df['o_date'] = pd.to_datetime(df['o_date'], format='%d.%m.%Y')
df['year'] = df['o_date'].dt.year
df['price'] = df['price'].str.replace(',', '.').astype('float')
df['month'] = df['o_date'].dt.month.map("{:02}".format)
df['yymm'] = df['year'].astype('str').str.cat(df['month'].astype('str'), sep='/')

df

            id_o  user_id   price     o_date  year month     yymm
0        1234491   337544  539.00 2016-01-01  2016    01  2016/01
1        1234494   171642  153.30 2016-01-01  2016    01  2016/01
2        1234497   260596   55.30 2016-01-01  2016    01  2016/01
3        1234498  1105609  752.50 2016-01-01  2016    01  2016/01
4        1234500   982696 4410.00 2016-01-01  2016    01  2016/01
...          ...      ...     ...        ...   ...   ...      ...
2002799  6945524  5806002  825.30 2017-12-31  2017    12  2017/12
2002800  6945526  5919142 4934.30 2017-12-31  2017    12  2017/12
2002801  6945527  1574166  804.30 2017-12-31  2017    12  2017/12
2002802  6945528  5919156 5019.70 2017-12-31  2017    12  2017/12
2002803  6945534  4801083  679.70 2017-12-31  2017    12  2017/12

[2002804 rows x 7 columns]

# Винтажный анализ
*На основе данных по продажам за 16 и 17 год спрогнозировать товарооборот января 2018 года (с выводом кэфов поведения когротны по порядковому номеру месяца).*

***
### Cтроим все когорты
*по ГГММ первой покупки*

In [3]:
date_min = df.pivot_table(index='user_id', values='o_date', aggfunc='min')
date_min.columns = ['mindate']
date_min

           mindate
user_id
0       2016-12-08
1       2016-01-04
76      2016-12-13
90      2016-07-16
91      2016-04-20
...            ...
5919114 2017-12-31
5919118 2017-12-31
5919128 2017-12-31
5919142 2017-12-31
5919156 2017-12-31

[1015119 rows x 1 columns]

In [4]:
df = df.merge(right=date_min, how='left', on='user_id')
# определяем бакеты
df['bucket'] = df['mindate'].dt.year.astype('str') + '/' + \
               df['mindate'].dt.month.map("{:02}".format).astype('str')
df

,id_o,user_id,price,o_date,year,month,yymm,mindate,bucket
0,1234491,337544,539.00,2016-01-01,2016,01,2016/01,2016-01-01,2016/01
1,1234494,171642,153.30,2016-01-01,2016,01,2016/01,2016-01-01,2016/01
2,1234497,260596,55.30,2016-01-01,2016,01,2016/01,2016-01-01,2016/01
3,1234498,1105609,752.50,2016-01-01,2016,01,2016/01,2016-01-01,2016/01
4,1234500,982696,4410.00,2016-01-01,2016,01,2016/01,2016-01-01,2016/01
...,...,...,...,...,...,...,...,...,...
2002799,6945524,5806002,825.30,2017-12-31,2017,12,2017/12,2017-12-31,2017/12
2002800,6945526,5919142,4934.30,2017-12-31,2017,12,2017/12,2017-12-31,2017/12
2002801,6945527,1574166,804.30,2017-12-31,2017,12,2017/12,2016-06-11,2016/06
2002802,6945528,5919156,5019.70,2017-12-31,2017,12,2017/12,2017-12-31,2017/12
2002803,6945534,4801083,679.70,2017-12-31,2017,12,2017/12,2017-10-13,2017/10

In [5]:
# смотрим когорты
buckets = df.pivot_table(index='yymm', columns='bucket', values='price', aggfunc='sum')
buckets

bucket,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,2016/10,...,2017/03,2017/04,2017/05,2017/06,2017/07,2017/08,2017/09,2017/10,2017/11,2017/12
yymm,,,,,,,,,,,,,,,,,,,,,
2016/01,96812334.85,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/02,25468692.90,69967837.80,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/03,25617635.40,9697389.80,79955600.20,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/04,26668180.00,9643754.40,11745986.00,91266090.30,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/05,19850250.70,7061441.80,7555766.40,8773004.80,65346879.50,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/06,18961982.90,6251231.00,7256456.20,7379729.00,7395215.10,69431888.40,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/07,16130663.50,4939075.40,5868718.80,6028442.70,5916285.90,6967968.70,67340672.70,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/08,18981578.00,6240096.80,7354748.10,6635924.40,5604741.10,7031031.00,7144969.30,80568803.70,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/09,18740327.90,6555354.40,7287154.70,6625572.80,5400168.20,6322236.90,5848847.90,7572620.30,88564741.30,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/10,23092666.10,7797188.70,8735698.30,8417579.10,6236166.30,7309049.30,6650945.70,7385929.60,9716036.40,126292121.20,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/11,21833440.30,8447995.50,9224657.40,8629796.70,6269807.60,7383301.80,5832118.60,7140676.20,8209034.40,14446789.70,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/12,19578430.90,7312323.20,7341623.80,6970614.70,5572215.60,6112115.10,5447928.50,6211531.20,7175254.80,11775907.50,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/01,13435340.80,4880374.80,5852774.90,5358380.30,3877077.40,4287160.50,4166710.10,4395853.70,5041843.80,7998470.90,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/02,11117878.10,4434656.80,4703905.50,4245020.50,3108417.90,3710088.90,3581234.30,3976784.70,4380443.20,6296567.20,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/03,14559577.20,5412615.60,6149819.90,5712270.20,3994950.40,4987784.20,4652681.60,5321260.00,5798788.10,8534820.00,...,117934294.80,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/04,12741730.40,4514475.00,5678624.70,5287490.60,3559289.30,4343495.80,4081187.60,4268847.80,4694461.80,7339934.70,...,8522249.40,107164715.70,nan,nan,nan,nan,nan,nan,nan,nan
2017/05,11718092.40,4336323.60,5129745.60,4967732.70,3621753.10,4382551.60,4188803.50,4071573.10,4533556.30,7218050.00,...,7582773.10,8446127.90,123131022.70,nan,nan,nan,nan,nan,nan,nan
2017/06,9757885.20,3748459.40,3658599.00,3616759.30,2913649.20,3421771.50,3228765.40,3359153.00,3561571.30,4710356.70,...,5049831.50,5354918.80,8428331.80,104977254.90,nan,nan,nan,nan,nan,nan
2017/07,8357893.60,2877049.70,3281278.00,3557947.40,2442988.10,3069880.80,3073816.20,2708898.50,3024133.70,4085707.50,...,4657070.60,4915243.20,6310730.30,8865894.80,108994806.20,nan,nan,nan,nan,nan
2017/08,10029706.40,3132690.40,3659375.30,3507320.60,2507619.80,2792155.80,2841716.50,2920538.60,3181304.00,4555080.60,...,4518898.30,4188224.60,5500454.40,6988671.20,8090613.30,120646008.70,nan,nan,nan,nan
2017/09,8938742.40,3241466.20,4242710.50,3764080.60,2731586.20,2570729.00,2877435.40,3343991.00,3412536.40,4861959.20,...,4603210.50,4197064.20,5028741.90,6004254.90,4889045.70,7973635.60,121681594.30,nan,nan,nan
2017/10,10953461.40,4660404.70,5402837.30,4888668.40,3400404.70,3209569.30,3346488.60,3768930.20,4002982.20,6178513.60,...,5357471.70,5003535.60,5979021.30,5937971.90,5646041.80,7102996.60,10277351.70,164016876.10,nan,nan
2017/11,11606152.60,4961935.30,5158465.20,5415767.00,3365314.40,3417852.90,2972178.30,3829744.80,4483889.90,5739227.90,...,5715908.10,5349472.10,5764898.30,5617619.00,5469260.30,6307841.40,7751644.60,16291594.90,194213575.50,nan
2017/12,10772057.80,4547242.70,5185180.70,4973759.70,3346427.70,2885806.70,2908346.00,3553975.60,3942230.60,5569747.40,...,4782136.10,4184141.50,4761001.00,5141068.80,5067091.40,5998446.30,6455291.50,11886180.60,13066993.10,241866102.80

***
### Понимаем как вымирает когорта. 
После 14 месяца обычно начинает мерцание на 2-5 процентов от первоначальной суммы.  
Итого, мы знаем как в среднем живут когорты.

In [6]:
# получаем сумму чеков в 1 когорте, чтобы от нее посчитать проценты
bucket_first = df.loc[df['yymm'] == df['bucket']].pivot_table(index='bucket', values='price', aggfunc='sum')
bucket_first.columns = ['b_price']
bucket_first

             b_price
bucket
2016/01  96812334.85
2016/02  69967837.80
2016/03  79955600.20
2016/04  91266090.30
2016/05  65346879.50
2016/06  69431888.40
2016/07  67340672.70
2016/08  80568803.70
2016/09  88564741.30
2016/10 126292121.20
2016/11 159236413.70
2016/12 162969773.40
2017/01 100676803.50
2017/02  93105248.60
2017/03 117934294.80
2017/04 107164715.70
2017/05 123131022.70
2017/06 104977254.90
2017/07 108994806.20
2017/08 120646008.70
2017/09 121681594.30
2017/10 164016876.10
2017/11 194213575.50
2017/12 241866102.80

In [7]:
# смотрим процент от 1 месяца в бакете
buckets.divide(bucket_first['b_price'], axis='columns')

bucket,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,2016/10,...,2017/03,2017/04,2017/05,2017/06,2017/07,2017/08,2017/09,2017/10,2017/11,2017/12
yymm,,,,,,,,,,,,,,,,,,,,,
2016/01,1.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/02,0.26,1.00,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/03,0.26,0.14,1.00,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/04,0.28,0.14,0.15,1.00,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/05,0.21,0.10,0.09,0.10,1.00,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/06,0.20,0.09,0.09,0.08,0.11,1.00,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/07,0.17,0.07,0.07,0.07,0.09,0.10,1.00,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/08,0.20,0.09,0.09,0.07,0.09,0.10,0.11,1.00,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/09,0.19,0.09,0.09,0.07,0.08,0.09,0.09,0.09,1.00,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/10,0.24,0.11,0.11,0.09,0.10,0.11,0.10,0.09,0.11,1.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/11,0.23,0.12,0.12,0.09,0.10,0.11,0.09,0.09,0.09,0.11,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2016/12,0.20,0.10,0.09,0.08,0.09,0.09,0.08,0.08,0.08,0.09,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/01,0.14,0.07,0.07,0.06,0.06,0.06,0.06,0.05,0.06,0.06,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/02,0.11,0.06,0.06,0.05,0.05,0.05,0.05,0.05,0.05,0.05,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/03,0.15,0.08,0.08,0.06,0.06,0.07,0.07,0.07,0.07,0.07,...,1.00,nan,nan,nan,nan,nan,nan,nan,nan,nan
2017/04,0.13,0.06,0.07,0.06,0.05,0.06,0.06,0.05,0.05,0.06,...,0.07,1.00,nan,nan,nan,nan,nan,nan,nan,nan
2017/05,0.12,0.06,0.06,0.05,0.06,0.06,0.06,0.05,0.05,0.06,...,0.06,0.08,1.00,nan,nan,nan,nan,nan,nan,nan
2017/06,0.10,0.05,0.05,0.04,0.04,0.05,0.05,0.04,0.04,0.04,...,0.04,0.05,0.07,1.00,nan,nan,nan,nan,nan,nan
2017/07,0.09,0.04,0.04,0.04,0.04,0.04,0.05,0.03,0.03,0.03,...,0.04,0.05,0.05,0.08,1.00,nan,nan,nan,nan,nan
2017/08,0.10,0.04,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.04,...,0.04,0.04,0.04,0.07,0.07,1.00,nan,nan,nan,nan
2017/09,0.09,0.05,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.04,...,0.04,0.04,0.04,0.06,0.04,0.07,1.00,nan,nan,nan
2017/10,0.11,0.07,0.07,0.05,0.05,0.05,0.05,0.05,0.05,0.05,...,0.05,0.05,0.05,0.06,0.05,0.06,0.08,1.00,nan,nan
2017/11,0.12,0.07,0.06,0.06,0.05,0.05,0.04,0.05,0.05,0.05,...,0.05,0.05,0.05,0.05,0.05,0.05,0.06,0.10,1.00,nan
2017/12,0.11,0.06,0.06,0.05,0.05,0.04,0.04,0.04,0.04,0.04,...,0.04,0.04,0.04,0.05,0.05,0.05,0.05,0.07,0.07,1.00

***
### Строим прогноз на один месяц для уже существующих когорт и предполагаем какой сформируется новая.

In [8]:
num_buckets = df.pivot_table(index=['bucket', 'yymm'], values='price', aggfunc='sum').reset_index()
num_buckets

      bucket     yymm        price
0    2016/01  2016/01  96812334.85
1    2016/01  2016/02  25468692.90
2    2016/01  2016/03  25617635.40
3    2016/01  2016/04  26668180.00
4    2016/01  2016/05  19850250.70
..       ...      ...          ...
295  2017/10  2017/11  16291594.90
296  2017/10  2017/12  11886180.60
297  2017/11  2017/11 194213575.50
298  2017/11  2017/12  13066993.10
299  2017/12  2017/12 241866102.80

[300 rows x 3 columns]

In [9]:
# нумеруем когорты
i = 1 # счетчик когорты
for bucket in num_buckets['bucket'].unique():
    for d in num_buckets.loc[(num_buckets['bucket'] == bucket), 'yymm']:
        num_buckets.loc[(num_buckets['bucket'] == bucket) & 
                        (num_buckets['yymm'] == d), 'id'] = i
        i += 1
    i = 1
num_buckets['id'] = num_buckets['id'].astype('int64')

In [10]:
# добавляем значения 1 бакета и делим на него price
num_buckets = num_buckets.merge(right=bucket_first.reset_index(), how='left', on='bucket')
num_buckets['share'] = num_buckets['price'] / num_buckets['b_price']
num_buckets

      bucket     yymm        price  id      b_price  share
0    2016/01  2016/01  96812334.85   1  96812334.85   1.00
1    2016/01  2016/02  25468692.90   2  96812334.85   0.26
2    2016/01  2016/03  25617635.40   3  96812334.85   0.26
3    2016/01  2016/04  26668180.00   4  96812334.85   0.28
4    2016/01  2016/05  19850250.70   5  96812334.85   0.21
..       ...      ...          ...  ..          ...    ...
295  2017/10  2017/11  16291594.90   2 164016876.10   0.10
296  2017/10  2017/12  11886180.60   3 164016876.10   0.07
297  2017/11  2017/11 194213575.50   1 194213575.50   1.00
298  2017/11  2017/12  13066993.10   2 194213575.50   0.07
299  2017/12  2017/12 241866102.80   1 241866102.80   1.00

[300 rows x 6 columns]

In [11]:
# получаем таблицу отношения каждой когорты к первой когорте
buckets_share = num_buckets.pivot_table(index='id', values='share', aggfunc='mean')
buckets_share

    share
id
1    1.00
2    0.10
3    0.08
4    0.08
5    0.07
6    0.07
7    0.07
8    0.07
9    0.07
10   0.07
11   0.06
12   0.06
13   0.06
14   0.06
15   0.06
16   0.06
17   0.05
18   0.05
19   0.06
20   0.07
21   0.07
22   0.08
23   0.09
24   0.11

In [12]:
# получаем последние id бакетов и объем первого бакета
trend_bucket = num_buckets.pivot_table(index='bucket', values=['b_price','id'], aggfunc={'b_price': 'min', 'id':'max'})
trend_bucket

             b_price  id
bucket
2016/01  96812334.85  24
2016/02  69967837.80  23
2016/03  79955600.20  22
2016/04  91266090.30  21
2016/05  65346879.50  20
2016/06  69431888.40  19
2016/07  67340672.70  18
2016/08  80568803.70  17
2016/09  88564741.30  16
2016/10 126292121.20  15
2016/11 159236413.70  14
2016/12 162969773.40  13
2017/01 100676803.50  12
2017/02  93105248.60  11
2017/03 117934294.80  10
2017/04 107164715.70   9
2017/05 123131022.70   8
2017/06 104977254.90   7
2017/07 108994806.20   6
2017/08 120646008.70   5
2017/09 121681594.30   4
2017/10 164016876.10   3
2017/11 194213575.50   2
2017/12 241866102.80   1

In [13]:
# увеличиваем id на 1 для прогнозного месяца
trend_bucket['id'] = trend_bucket['id'] + 1
trend_bucket.loc[trend_bucket['id'] == 25, 'id'] = 24

In [14]:
# подтягиваем долю для прогнозных id и делаем прогноз
trend_bucket = trend_bucket.merge(right=buckets_share.reset_index(), on='id')
trend_bucket['f_price'] = trend_bucket['b_price'] * trend_bucket['share']
trend_bucket

        b_price  id  share     f_price
0   96812334.85  24   0.11 10772057.80
1   69967837.80  24   0.11  7785140.13
2   79955600.20  23   0.09  7390834.43
3   91266090.30  22   0.08  7572326.23
4   65346879.50  21   0.07  4540830.43
5   69431888.40  20   0.07  4555440.15
6   67340672.70  19   0.06  3712658.17
7   80568803.70  18   0.05  4297455.16
8   88564741.30  17   0.05  4764303.13
9  126292121.20  16   0.06  6952678.51
10 159236413.70  15   0.06  9244251.43
11 162969773.40  14   0.06  9185501.97
12 100676803.50  13   0.06  5829638.70
13  93105248.60  12   0.06  5659973.95
14 117934294.80  11   0.06  7649182.04
15 107164715.70  10   0.07  7162301.22
16 123131022.70   9   0.07  8151418.13
17 104977254.90   8   0.07  7082578.59
18 108994806.20   7   0.07  7198731.75
19 120646008.70   6   0.07  8135798.84
20 121681594.30   5   0.07  8320409.34
21 164016876.10   4   0.08 12461850.14
22 194213575.50   3   0.08 16179294.53
23 241866102.80   2   0.10 23981923.11

In [15]:
# считаем прогноз по существующим когортам на следующий месяц
future_price = trend_bucket['f_price'].sum()
future_price

198586577.86560866

In [16]:
# считаем прогноз размера новой когорты на следующий месяц (смотрим соотношение январского бакета к декабрьскому и ноябрьскому и берем среднее)
b_dec_share = bucket_first.loc[bucket_first.index == r'2017/01'].squeeze() / bucket_first.loc[bucket_first.index == r'2016/12'].squeeze()
b_nov_share = bucket_first.loc[bucket_first.index == r'2017/01'].squeeze() / bucket_first.loc[bucket_first.index == r'2016/11'].squeeze()
future_new_price = (bucket_first.loc[bucket_first.index == r'2017/12'].squeeze() * b_dec_share + \
                    bucket_first.loc[bucket_first.index == r'2017/11'].squeeze() * b_nov_share) / 2
future_new_price

136103555.30999064

In [17]:
trend = num_buckets.pivot_table(index='yymm', values='price', aggfunc='sum').reset_index()
trend.loc[24, 'yymm'] = '2018/01'
trend.loc[24, 'price'] = future_price + future_new_price
trend['yymm'] = trend['yymm'].str.slice(2)
trend

     yymm        price
0   16/01  96812334.85
1   16/02  95436530.70
2   16/03 115270625.40
3   16/04 139324010.70
4   16/05 108587343.20
5   16/06 116676502.60
6   16/07 113191827.70
7   16/08 139561892.40
8   16/09 152917024.40
9   16/10 211633380.70
10  16/11 256654031.90
11  16/12 258957148.10
12  17/01 177191391.30
13  17/02 161617657.60
14  17/03 214789307.60
15  17/04 197661209.90
16  17/05 217075552.40
17  17/06 184955837.50
18  17/07 187225893.40
19  17/08 205855839.70
20  17/09 212034384.10
21  17/10 280213678.50
22  17/11 326694750.90
23  17/12 372349285.70
24  18/01 334690133.18

In [18]:
sns.set_theme()
plt.figure(figsize=(14, 5))
sns.lineplot(data=trend, x='yymm', y='price')

In [19]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))